.wrapper {
  width: calc(100% - 1rem);
  max-width: 500px;
  z-index: 20;
  :global {
    .modal {
      background-color: #0f1724;
      margin: auto;
      margin-top: calc(60px + 2rem);
      padding: 1rem;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
      .modal-header {
        font-size: 20px;
        padding-bottom: 1rem;
        border-bottom: 1px solid;
        svg {
          cursor: pointer;
          &:hover {
            opacity: 0.65;
          }
        }
      }
      .modal-body {
        padding-top: 1rem;
        .wrapper-select-token-input {
          position: relative;
          input {
            width: 100%;
            padding-right: 0.5rem;
            color: #000 !important;
            border-radius: 3px;
            &:focus ~ .list-results {
              display: block;
              z-index: 1;
            }
          }
          .wrapper-loading-icon {
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%);
            height: 16px;
            svg {
              fill: #000;
            }
          }
          .list-results {
            color: #000;
            position: absolute;
            background: #fff;
            width: 100%;
            border-radius: 3px;
            top: calc(100% + 5px);
            overflow: hidden;
            display: none;
            z-index: 0;
            .result-item {
              padding: 0.5rem;
              transition: 0.15s linear;
              cursor: pointer;
              .result-address {
                max-width: 100%;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &:hover {
                background-color: #eeec;
              }
            }
          }

        }
        .list-tokens {
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
          .list-tokens__header {
            color: rgb(198, 211, 231);
            background-color: #090f19;
            height: 40px;
            line-height: 40px;
            padding-left: 0.5rem;
          }
          .token-item {
            cursor: pointer;
            padding: 0.5rem;
            transition: 0.15s linear;
            height: 40px;
            display: flex;
            align-items: center;
            &:not(:last-child) {
              border-bottom: 1px solid #000;
            }
            &:hover {
              opacity: 0.65;
            }
            .token-item__logo {
              width: 20px;
            }
          }
        }
      }
    }
  }
}