.wrapper {
  :global {
    .wrapper-input {
      background-color: #0f1724;
      box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px;
      input {
        background-color: transparent;
      }
      button {
        background-color: #11ece5;
        height: 32px;
        color: #000;
        display: flex;
        line-height: 32px;
      }
    }
    .slippage-error {
      font-size: 14px;
    }
  }
}